#canvas {
  border: 1em solid #CCC;
  border-radius: 10px;
  display: block;
  margin-bottom: 4em;
}

#container {
  width: 840px;
  margin: auto;
}

#slider {
  width: 760px;
  margin: 0 auto;
}

#output {
  text-align: center;
}

#output pre {
  text-align: left;
  display: inline-block;
}

pre {
  font-size: 24pt;
}

#status {
  text-align: center;
  color: darkorange;
}
