###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.sln        eol=crlf
*.csproj     eol=crlf
*.vbproj     eol=crlf
*.vcxproj    eol=crlf
*.vcproj     eol=crlf
*.dbproj     eol=crlf
*.fsproj     eol=crlf
*.lsproj     eol=crlf
*.wixproj    eol=crlf
*.modelproj  eol=crlf
*.sqlproj    eol=crlf
*.wwaproj    eol=crlf
*.phpproj    eol=crlf


*.cs eol=crlf
*.xaml eol=crlf
*.config eol=crlf
*.settings eol=crlf
*.resx eol=crlf
